@media (min-width: 769px) {
  .grid-stack {
    &.width-1 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 50px;
      .grid-stack-item[data-gs-x="0"] { grid-column-start: 1;}
      .grid-stack-item[data-gs-width="1"] { grid-column-end: span 1;}
    }
  }
}